@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

* {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main-container {
  min-height: 120vh;
  text-align: center;
  background-size: cover;
  background-color: #181818;
}